<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="The blog of Benjamin Black" name="description" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml"/>
    <title>Benjamin Black &mdash; {{ page.title }}</title>
    {% include analytics.html %}
  </head>
  <body>
    <header>
      <h1 id="title">
        <a href="/about.html" title="About">Benjamin Black</a><br>causes trouble <a href="/" title="Home">here</a>.
      </h1>
      <h2 id="subtitle">
        See also the <a href="/archive.html" title="Archive">archive</a> &
        <a href="/talks.html">talks</a>.
      </h2>
    </header>
    <div id="wrapper">
      {{ content }}
      <footer id="footer">
        <a href="/" title="Home">Home</a> &bull;
        <a href="/about.html" title="About the author and site">About</a> &bull;
        <a href="/archive.html" title="Archived posts">Archive</a> &bull;
        <a href="/talks.html" title="talks">Talks</a>
      </footer>
    </div>
  </body>
</html>